# Maven build directory
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Log files
*.log

# Temporary files
*.swp
*.bak

# Gradle cache
.gradle/

# Javadoc
**/javadoc/

# JaCoCo coverage
.jacoco/

# Application properties or YAML configurations
application.properties
application.yml


# Remove run-dev.sh
run-dev.sh
run-dev.sh-debug.sh
run-production.sh
